
body{
background-color: lightcoral;
}



.cabecalho{
  margin-top: -25px;
  position: absolute;
  display: table;
  width: 100%;
  height: 100px;
  border: -1px;
  background-color: #045c46;
}

-------------

*{
  margin: 0;
  padding: 0;
}

nav{
  width: 100%;
  height: 60px;
  background-color: lightgreen;
}

nav p{
  font-family: fantasy;
  color: #222222;
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
}

nav ul {
  float: left;
}

nav ul li{
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a{
  display: block;
  font-family: sans-serif;
  color: #fff;
  font-size:14px;
  padding: 22px 14px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #35C5FF;
}

nav ul li ul{
  display:none;
  position: relative;
  background-color: #034f6d;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  position:absolute;
}

nav ul li:hover ul {
  display:block;
}

nav ul li ul li{
  width: 150px;
  border-radius: 4px;
}

nav ul li ul li a {
  padding: 8px 14px;
}

nav ul li ul li a:hover {
  background-color: #002b3d;

}






------------

a.base{
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  
}


}


a.gui{
  background-color: #2594dd;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.9;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

  position:absolute;
  right: 50%;
  top:6%;
  
}




h1 {
  color: rgb(18, 116, 116);

}



h2 {
  
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(2, 255, 158), 0 0 5px rgb(0, 0, 0);
  
}

h3 {
  position:fixed;
  right: 19%;
  top:38%;
  width: 58%;
  height: 150px;
  color: white

 

}

/*p. a. {
  font-family: verdana;
  font-size: 20px;
}*/
#linkdiretorio{
  font-family: verdana;
  color: white;
  background: lightgreen;
}
a.link{
  color: yellow;
}

#centralizar{
  position:absolute; 
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}


h4{
  border: 1px solid black;
  margin: -5px;
  background-color: lightgreen;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 185, 99), 0 0 5px darkblue;
  
}



h6 {

   position: fixed;

   left: 0pt;

}


h5 {
  opacity: 0.8;
  border: 1px solid black;
  width: 300px;
  margin: auto;
  background-color: lightblue;

}




h7{
  width:300px;
  margin: auto;
  border: 1px solid red;
}



.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}




--------------------------------------------------------------


